<style>
     :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 13px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0px 0;
    }
    
    p {
        margin: 0;
    }
    
    .spacer {
        flex: 1;
    }
    
    .content {
        display: flex;
        margin: 5px auto 12px;
        padding: 0 12px;
        flex-direction: column;
        align-items: center;
    }
    
    .card svg.material-icons path {
        fill: #888;
    }
    
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 6px;
    }
    
    .card {
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: #fafafa;
        height: 40px;
        width: 200px;
        margin: 0 6px 13px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }
    
    .card-container .card:not(:last-child) {
        margin-right: 0;
    }
    
    .card.card-small {
        height: 14px;
        width: 128px;
    }
    
    .card-td-left {
        border: 0px solid #ffffff;
        background-color: #ffffff;
        margin: 0 0px 6px;
        padding: 0px;
        text-align: right;
    }
    
    .card.card-td-right {
        height: 8px;
        width: 132px;
        margin: 0 6px 6px;
        padding: 8px;
    }
    
    .card-container .card:not(.highlight-card) {
        cursor: pointer;
    }
    
    .card-container .card:not(.highlight-card):hover {
        transform: translateY(-1.5px);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    }
    
    .card.highlight-card {
        background-color: #1976d2;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
    }
    
    .card.card.highlight-card span {
        margin-left: 60px;
    }
    
    svg#clouds {
        position: fixed;
        bottom: -160px;
        left: -230px;
        z-index: -10;
        width: 1920px;
    }
    /* Responsive Styles */
    
    @media screen and (max-width: 767px) {
        .card-container>*:not(.circle-link),
        .terminal {
            width: 100%;
        }
        .card:not(.highlight-card) {
            height: 16px;
            margin: 8px 0;
        }
        .card.highlight-card span {
            margin-left: 72px;
        }
        svg#rocket-smoke {
            right: 120px;
            transform: rotate(-5deg);
        }
    }
    
    @media screen and (max-width: 575px) {
        svg#rocket-smoke {
            display: none;
            visibility: hidden;
        }
    }
    
    .dashed-line-box {
        position: relative;
        background-color: #ffffff;
        width: 320px;
        height: 16px;
        /* border-style: solid;*/
        border-width: thin;
    }
    
    hr.new1 {
        margin-top: 8px;
        border-top: 1px dashed;
    }
    
    .line_break {
        border: none;
        width: 400px;
        border-bottom: 1.5px dashed gray;
    }
</style>


<div class="content" role="main" style="padding: 0px;margin-bottom: 0;">


    <div class="card-container">
        <div class="card card-small" (click)="this.div_size=true;this.div_costing=false;" style="padding: 4px;margin: 2;">
            <span>Card/Paper Analysis</span>
        </div>

        <div class="card card-small" (click)="this.div_size=false;this.div_costing=true; set_inherited_values();" style="padding: 4px;margin: 2;">
            <span>Lamination</span>
        </div>
    </div>
</div>

<div class="content" role="main" [style.display]="div_costing ? 'flex' : 'none'">
    <h2 style="padding-bottom: 16px;">Lamination cost </h2>
    <table>
        <tr>

            <td>
                <p class="card-td-left">Film Type:&nbsp;</p>
            </td>
            <td>
                <div class="card card-td-right" style="margin-top: 2px;padding: 6px;width:220px">
                    <input id="input_matt_film" style="margin-bottom: 3px;" name="radio_film_type" type="radio" value="matt" (input)="film_specs_obj.get('film_type')[0] = $event.target.value; changeEventHandler();">
                    <p> Matt&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <input id="input_gloss_film" style="margin-bottom: 3px" name="radio_film_type" type="radio" value="gloss" (input)="film_specs_obj.get('film_type')[0] = $event.target.value; changeEventHandler(); ">
                    <p> Gloss&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <input id="input_special_film" style="margin-bottom: 3px" name="radio_film_type" type="radio" value="special" (input)="film_specs_obj.get('film_type')[0] = $event.target.value; changeEventHandler(); ">
                    <p>Special</p>
                </div>
            </td>

        </tr>
        <tr>
            <td>
                <p class="card-td-left">Rate:&nbsp;</p>
            </td>
            <td>
                <input id="input_rate_film" class="card card-td-right" style="margin-top: 2px;padding: 6px;" placeholder="Rs. per sq. foot">
            </td>
        </tr>
        <tr>
            <td>
                <p class="card-td-left">Quantity:&nbsp;</p>
            </td>

            <td>
                <input id="input_film_quantity" class="card card-td-right" style="margin-top: 2px;padding: 6px;" type="number" placeholder="Number" (input)="film_specs_obj.get('film_quantity')[0] = $event.target.value; changeEventHandler(); ">
            </td>
        </tr>
        <tr>
            <td>
                <p class="card-td-left">Size (L x W):&nbsp;</p>
            </td>

            <td>
                <div class="card card-td-right" style="margin-top: 2px;padding: 4px;width:220px;height:18px; background-color: #ffffff; border: none;">
                    <input id="input_film_length" class="card card-td-right" style="margin-top: 5px;padding: 6px; width: 80px; position: relative; left:-9px;" type="number" placeholder="Inches" (input)="film_specs_obj.get('film_length')[0] = $event.target.value; changeEventHandler(); ">
                    <p style="position: relative; left:2px;"> &nbsp; x &nbsp;</p>
                    <input id="input_film_width" class="card card-td-right" style="margin-top: 5px;padding: 6px; width: 80px; position: relative; left: 14px;" type="number" placeholder="Inches" (input)="film_specs_obj.get('film_width')[0] = $event.target.value; changeEventHandler(); ">
                </div>

            </td>
        </tr>
    </table>
    <hr class="line_break">

    <table style="position:relative;margin-left:-50px">
        <tr>
            <td style="text-align:right"> Film required: &nbsp;
            </td>
            <td>
                <span id='number-default'>{{film_total_length |  number:'.1-2' }} m x {{ film_specs_obj.get(''+'film_width')[0] | number:'.1-2' }} inch, </span>
                <!--<br> {{film_specs_obj.get('film_quantity')[0]}}
                <br> {{film_specs_obj.get('film_length')[0]}}
                <br> {{film_specs_obj.get('film_width')[0]}}
                -->
            </td>

        </tr>
        <tr>
            <td style="text-align:right"> Lamination cost per sheet: &nbsp;
            </td>
            <td>
                <span id='number-default'> {{film_cost_per_sheet | number:'.1-4' }} PKR, </span>
            </td>
        </tr>
        <tr>
            <td style="text-align:right"> Total cost: &nbsp;
            </td>
            <td>
                <span id='number-default'> {{film_cost_total | number:'.0-0'}} PKR, </span>
            </td>

        </tr>
    </table>

    <!---->
    <hr class="line_break">
    <table style="position:relative;margin-left:-50px">
        <tr>
            <td style="text-align:right"> Matt rate : &nbsp;
            </td>
            <td>
                <input id="input_film_matt_rate" class="card card-td-right" style="margin-top: 2px;padding: 6px;" type="number" placeholder="per sq.foot" (input)="film_type_rates.get('matt')[0] = $event.target.value; changeEventHandler(); ">
            </td>
        </tr>
        <tr>
            <td style="text-align:right"> Gloss rate : &nbsp;
            </td>
            <td>
                <input id="input_film_gloss_rate" class="card card-td-right" style="margin-top: 2px;padding: 6px;" type="number" placeholder="per sq.foot" (input)="film_type_rates.get('gloss')[0] = $event.target.value; changeEventHandler(); ">
            </td>
        </tr>
        <tr>
            <td style="text-align:right"> "Special" file rate : &nbsp;
            </td>
            <td>
                <input id="input_film_special_rate" class="card card-td-right" style="margin-top: 2px;padding: 6px;" type="number" placeholder="per sq.foot" (input)="film_type_rates.get('special')[0] = $event.target.value; changeEventHandler(); ">
            </td>
        </tr>

    </table>


</div>

<div class="content" role="main" [style.display]="div_size ? 'flex' : 'none'">

    <h2 style="padding-bottom: 16px;">size and cost analysis for {{ specs_obj.get(''+'material')[0]}} </h2>
    <table>



        <tr *ngFor="let key of ordered_keys; let i = index">
            <td>
                <p class="card-td-left">{{ specs_obj.get(key)[1] }}:&nbsp;</p>
            </td>

            <td *ngIf="i<=0; else not_radio">
                <div class="card card-td-right" style="margin-top: 2px;padding: 6px;">
                    <input id="input_{{key}}_card" style="margin-bottom: 3px" name="radio_material" type="radio" value="card" (input)="specs_obj.get(key)[0] = $event.target.value; changeEventHandler()">
                    <p> Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <input id="input_{{key}}_paper" style="margin-bottom: 3px" name="radio_material" type="radio" value="paper" (input)="specs_obj.get(key)[0] = $event.target.value; changeEventHandler()">
                    <p>Paper</p>
                </div>
            </td>
            <ng-template #not_radio>
                <input class="card card-td-right" style="margin-top: 2px;padding: 6px;" id="input_{{key}}" type="number" (input)="specs_obj.get(key)[0] = $event.target.value; changeEventHandler();" placeholder="{{specs_obj.get(key)[2]}}">
            </ng-template>
        </tr>
        <tr>
            <td>
                <p class="card-td-left">Intense mode:&nbsp;</p>
            </td>
            <td>
                &nbsp;<input type="checkbox" id="input_compute_mode" (input)="changeEventHandler();">
            </td>
        </tr>
    </table>

    <hr class="line_break">
    <table style="margin-left:40px">
        <tr>
            <td style="text-align:right"> Wastage cost for [ {{ specs_obj.get('card_length')[0] }}" x {{ specs_obj.get('card_width')[0] }}" ]: &nbsp;
            </td>

            <td *ngIf="efficiency<0.95; else normal_status">
                <span id='number-default' style="color:red;font-weight: normal;">{{wastage | number:'.1-2' }} PKR </span>
                <br>
                <span id='number-default' style="color:red;font-weight: normal;"> [{{leafs_per_sheet}} sheets from {{ max_possible | number:'.1-2' }}]</span>
                <br>
                <span id='number-default' style="color:red;font-weight: normal;"> [efficiency = {{efficiency*100 | number:'.1-2'}}%] </span>
            </td>
            <ng-template #normal_status>
                <span id='number-default' style="color:darkblue;font-weight: normal;">{{wastage | number:'.1-2' }} PKR, </span>
                <br>
                <span id='number-default' style="color:darkblue;font-weight: normal;"> [{{leafs_per_sheet}} sheets from {{ max_possible | number:'.1-2' }}]</span>
                <br>
                <span id='number-default' style="color:darkblue;font-weight: normal;"> [efficiency = {{efficiency*100 | number:'.1-2'}}%] </span>
            </ng-template>

        </tr>

        <tr>
            <td style="text-align:right"> Packet Size: &nbsp; </td>
            <td style="text-align:left"> [{{sz[0]}}" x {{sz[1]}}"] </td>
        </tr>

        <tr>
            <td style="text-align:right"> Number of packets required: &nbsp; </td>
            <td style="text-align:left"> <span id='number-default'>{{req_pck_num | number:'.1-2' }}</span> </td>
        </tr>

        <!--
        <tr>
            <td style="text-align:right"> Output quantity: &nbsp;&nbsp; </td>
            <td style="text-align:left"> <span id='number-default'>{{output_qty}}</span> </td>
        </tr>
        -->

        <tr>
            <td style="text-align:right"> Output quantity per packet: &nbsp;</td>
            <td style="text-align:left"> <span id='number-default'>{{output_qty_per_pck | number:'.0'}}</span>
            </td>
        </tr>

        <tr>
            <td style="text-align:right">
                Total weight of {{ specs_obj.get(''+'material')[0]}}: &nbsp;
            </td>
            <td style="text-align:left"> <span id='number-default'> {{total_weight | number:'.0-2'}}</span> Kg. </td>
        </tr>


        <tr>
            <td style="text-align:right"> Cost per packet: &nbsp; </td>
            <td style="text-align:left"> <span id='number-default'> {{cost_per_pck | number:'.0-2'}}</span> PKR </td>
        </tr>

        <tr>
            <td style="text-align:right">
                Estimated total cost of {{ specs_obj.get(''+'material')[0]}}: &nbsp;
            </td>
            <td style="text-align:left"> <span id='number-default'> {{total_cost | number:'.0-0'}}</span> PKR </td>
        </tr>

        <tr>
            <td style="text-align:right"> Cost per piece (or box) of {{ specs_obj.get(''+'material')[0]}}: &nbsp; </td>
            <td style="text-align:left"> <span id='number-default'> {{cost_per_piece | number:'.0-6'}} PKR</span>
            </td>
        </tr>

    </table>

    <hr class="line_break">
    <div id="div_plotly_graph"></div>

    <!--     <canvas id="sheet_canvas" #canvas width="400" height="600"></canvas>
 -->
    <hr class="line_break">

    <h3> Available {{ specs_obj.get(''+'material')[0]}} sizes are:</h3>
    <table>
        <tr *ngFor="let x of available_szs.get(specs_obj.get(''+'material')[0]);let ii = index" id="tr_size_{{x[0]}}_{{x[1]}}">
            <td *ngIf="available_szs.get(specs_obj.get(''+'material')[0]).length<2; else remove_button">
                <p class="card-td-left">[{{x[0]}}'' x {{x[1]}}''] &nbsp;</p>
            </td>
            <ng-template #remove_button>
                <td>
                    <p class="card-td-left">[{{x[0]}}'' x {{x[1]}}''] &nbsp;</p>
                </td>
                <td>
                    <div id="size_{{x[0]}}_{{x[1]}}" (click)="this.remove_size($event);" class="card card-td-right" style="padding: 6px; width:60px">
                        <p> Remove </p>
                    </div>
                </td>
            </ng-template>
        </tr>

        <tr>

            <td>
                <div class="card card-td-right" style="margin-top: 2px;padding: 4px;width:100px;height:18px; background-color: #ffffff; border: none;">
                    <input id="sz1_{{  this.specs_obj.get(''+'material')[0] }}" class="card card-td-right" style="margin-top: 5px;padding: 6px; width: 30px; position: relative; left:0px;" type="number" placeholder="Inches" value="20">
                    <p style="position: relative; left:0px;"> x </p>
                    <input id="sz2_{{  this.specs_obj.get(''+'material')[0] }}" class="card card-td-right" style="margin-top: 5px;padding: 6px; width: 30px; position: relative; left: 0px;" type="number" placeholder="Inches" value="30">
                </div>

            </td>
            <td>
                <div class="card card-td-right" style="padding: 6px; width:60px" (click)="this.add_size($event);">
                    <p> Add </p>
                </div>
            </td>

        </tr>


    </table>


</div>